body{
    background: #F8F8F8;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    margin: 0;
    color: #333;
}
.container{
    width: 90%;
    margin: 0 auto;
}
body > section{
    padding: 60px 0;
}
body > section:nth-of-type(odd){
    background: #FFF;
}
.section-title{
    text-align: center;
    font-weight: normal;
    margin: 0 0 60px;
}
header h1{
    font-size: 28px;
    font-weight: normal;
}
#open_menu{
    float: right;
    font-size: 24px;
    cursor: pointer;
}
#close_menu{
    padding: 15px;
    float: right;
    cursor: pointer;
}
.feature p{
    word-wrap: break-word;
}
.feature img{
    width: 100%;
    height: auto;
}
.feature{
    margin-bottom: 60px;
}
.feature:last-child{
    margin-bottom: 0;
}
.news-item img{
    width: 100%;
    height: auto;
}
.news-item p{
    word-wrap: break-word;
}
.how-to-use iframe{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*
親要素の幅 : 高さ = 16 : 9
100% : x% = 16 : 9
x% = 9 * 100% / 16 = 56.25 %
*/

.how-to-use .iframe-wrapper{
    width: 100%;
    /* background: pink; */
    /*親要素の幅に対しての割合*/
    padding-bottom: 56.25%;
    /*高さがpaddingだけで出るように*/
    height: 0;
    position: relative;
}
footer{
    text-align: center;
    padding: 60px 0;
    color: #CCC;
}
#menu{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; /*left:0 right:0 で横幅いっぱいに広がってくれる*/
    background: rgba(0, 0, 0, .9);
    color: #FFF;
}
#menu.shown{
    display: block;
}
#menu ul{
    list-style: none; /*先頭の黒丸を消す*/
    margin: 0 auto;
    padding: 10px 20px;
}
#menu li{
    line-height: 2;
}
#menu a{
    text-decoration: none; /*下線を消す*/
    color: inherit; /*文字色を親要素から引き継ぐ*/
}