
.container{
    width: 1300px;
    margin: 0 auto;
}

@media only screen and (max-width:767px){
    .container{
        width: 97.35%;
        margin: 0 auto;
    }
}

/* header */
header .headerBox{
    height: 60px;
    background: rgba(255, 255, 255,0.25);
}
header .headerTit{
    font-size: 24px;
    font-weight: bold;
    width: 150px;
    float: left;
}
header .headerNav{
    width: 300px;
    float: right;
}
header .navList{
    font-size: 0;
    padding: 0;
}
header .navList li{
    display: inline-block;
    padding-top: 15px;
    list-style: none;
    margin-right: 46px;
}
header .navList li a{
    text-decoration: none;
    font-size: 20px;
    color: #1D1D1D;
}

@media only screen and (max-width:767px){
    header .headerBox{
        height: auto;
        background: rgba(255, 255, 255,0.25);
        padding: 2%;
    }
    header .headerTit{
        font-size: 24px;
        font-weight: bold;
        width: 40%;
        float: none;
        margin: 0;
    }
    header .headerNav{
        width: 100%;
        float: none;
        display: none;
    }
}

/* #top */
#top{
    text-align: center;
    padding-top: 120px;
    letter-spacing: 2px;
}
#top .topTit{
    width: 400px;
    font-size: 65px;
    position: relative; 
    margin: 0 auto;
    letter-spacing: 5px;
}
#top .topTit:after{
    content: "〜 I play a lot of roles 〜";
    width: 400px;
    font-size: 28px;
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    letter-spacing: 2px;
}
#top .img{
    width: 273px;
    margin: 60px auto 0;
    position: relative;
}
#top #napo{
    position: absolute;
    top: 0;
    left: 0;
}
#top .btn{
    width: 400px;
    color: #FFF;
    font-size: 22px;
    background: #696969;
    border-radius: 30px;
    margin: 420px auto 0;
    padding: 10px;
    cursor: pointer;
}

@media only screen and (max-width:767px){
    #top{
        text-align: center;
        padding-top: 10%;
        letter-spacing: 2px;
    }
    #top .topTit{
        width: 100%;
        font-size: 45px;
    }
    #top .topTit:after{
        width: 100%;
        font-size: 18px;
        top: 85%;
        left: 0;
    }
    #top .img{
        width: 60%;
        margin: 20% auto 0;
    }
}